body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

/* box */
.box {
    margin-top: 20px;
    outline: 5px solid red;
}

.flag {
    transform: translate(100px, 100px) scale(1.5) rotate(-15deg);
}

/* box2 */
.box2 {
    background-color: blue;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    cursor: pointer;

    transition-property: background-color, border-radius;
    transition-duration: 2s;
    /* transition-delay: 1s; */
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.85, 0.26);
}

.box2:hover {
    background-color: #ec5840;
    border-radius: 50%;
}

/* box3 */
.box3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 100%;
    background-image: url(./img/ceu-azul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.airplane {
    animation: fly 3.5s linear 1s infinite;
    /* animation: fly 1s infinite; */
}

@keyframes fly {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(200%, -50px);
    }
    100% {
        transform: translate(calc(100vw - 100px), 0);
    }
}

/* box4 */
.box4 {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
    background-size: 300% 300%;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    width: 100%;
    font-size: 300%;

    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/* box5 */
.box5 {
    overflow: hidden;
    position: relative;
}
.box5::after {
    animation: text-reveal 1s ease forwards;
    background-color: #157bad;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.text-reveal {
    animation: fade 1ms 0.5s forwards;
    opacity: 0;
}

@keyframes text-reveal {
    from {
        transform: translateX(-101%);
    }

    to {
        transform: translateX(101%);
    }
}

@keyframes fade {
    to {
        opacity: 1;
    }
}

/* container */
.container {
    width: 500px;
    height: 500px;
    margin-top: 10px;
    background-color: purple;
    animation-name: animacao;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes animacao {
    0% {
        background-color: purple;
        width: 500px;
        height: 500px;
        border-radius: 0%;
    }

    50% {
        background-color: yellow;
        width: 0;
        height: 0;
        border-radius: 50%;
    }

    100% {
        background-color: purple;
        width: 500px;
        height: 500px;
        border-radius: 0%;
    }
}

/* cards */
main {
    background: #f6f9ff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.cards {
    display: flex;
    padding: 32px;
}

main.cards section {
    animation: bounceInDown;
    animation-duration: 1.5s;
}

section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
}

.section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 64px;
    height: 64px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    font-size: 80%;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    color: white;
}

main.cards section.card.contact button {
    background: linear-gradient(to right, #9f66ff, #dfcbff);
}

main.cards section.card.shop button {
    background: linear-gradient(to right, #3e8aff, #bbdeff);
}

main.cards section.card.about button {
    background: linear-gradient(to right, #fe5f8f, #ffc7d9);
}

main.cards section.card.contact {
    box-shadow: 20px 20px 50px -30px #dbc4ff;
}

main.cards section.card.shop {
    box-shadow: 20px 20px 50px -30px #afd6ff;
}

main.cards section.card.about {
    box-shadow: 20px 20px 50px -30px #ffc1d5;
}

@media screen and (max-width: 768px) {
    main {
        height: 100%;
    }
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }
}

/* effect */
.container-effect {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: wrap;
    z-index: 1;
}

.container-effect .card-effect {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(72, 38, 38, 0.1);
    overflow: hidden;
}

.container-effect .card-effect:hover {
    animation: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.container-effect .card-effect .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container-effect .card-effect:hover .content {
    transform: translateY(0);
    opacity: 1;
}

.container-effect .card-effect .content h2 {
    position: absolute;
    top: -125px;
    right: 13px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
}

.container-effect .card-effect .content h3 {
    font-size: 1.8em;
    z-index: 1;
}

.container-effect .card-effect .content p {
    font-size: 1em;
    font-weight: 300;
}

.container-effect .card-effect .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    text-decoration: none;
    color: #000;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* box6 */
.box6 {
    background: #23a5d55e;
    width: 100%;
}

.conteudo-header {
    display: flex;
    justify-content: center;
    background: #000;
    color: #ffffff;
    padding: 0;
}

.conteudo-pagina {
    display: flex;
}

.conteudo-menu {
    min-width: 200px;
    flex-grow: 1;
    background: #07293a;
}

.conteudo-menu ul {
    padding: 0;
    margin: 0;
}

.conteudo-menu a {
    text-decoration: none;
    color: #ffffff;
}

.conteudo-menu li {
    list-style: none;
    padding: 20px;
    border-top: 1px solid #000000;
    background: #0b4461;
    cursor: pointer;
}

.conteudo-menu li:last-child {
    border-bottom: 1px solid #000000;
}

.conteudo-menu li:hover {
    background: #1791ce;
}

.conteudos {
    flex-grow: 3;
    overflow: hidden;
}

.conteudo-principal {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    height: 530px;
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(-45deg, #07293a, #1791ce, #0b4461, #23a5d55e) no-repeat;
    background-size: 300% 300%;

    animation: moveLinearGradient 10s ease infinite;
}

@keyframes moveLinearGradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.texto-principal {
    display: inline-block;
    font-size: 8em;

    animation: moveText 1.8s cubic-bezier(0.245, 0.325, 0.51, 1.305) infinite;
}

@keyframes moveText {
    20% {
        transform: translateY(-510px);
    }

    50% {
        transform: translateY(0px);
    }

    70% {
        transform: translateY(-55px);
    }

    80% {
        transform: translateY(0px);
    }
}

.texto-principal1 {
    color: orange;
}

.texto-principal2 {
    color: coral;
    animation-delay: 0.6s;
}

.texto-principal3 {
    color: darksalmon;
    animation-delay: 0.7s;
}

.texto-principal4 {
    color: indianred;
    animation-delay: 0.5s;
}

.texto-principal5 {
    color: lightcoral;
    animation-delay: 0.8s;
}

.texto-principal6 {
    color: lightgrey;
    animation-delay: 0.3s;
}

.texto-principal7 {
    color: lightcyan;
    animation-delay: 0.8s;
}

.conteudo-1,
.conteudo-2,
.conteudo-3,
.conteudo-4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.conteudo {
    display: flex;
    align-items: center;
}

.box6 hr {
    width: 98%;
    border-width: 2px;
}

.box6 hr:first-of-type {
    margin-top: 0;
}

.conteudo-1 .conteudo,
.conteudo-3 .conteudo {
    align-self: flex-start;
}

.conteudo-2 .conteudo,
.conteudo-4 .conteudo {
    align-self: flex-end;
}

.move-conteudo1,
.move-conteudo3 {
    margin-left: -800px;
    transition: margin-left 2s;
}

.move-conteudo2,
.move-conteudo4 {
    margin-right: -800px;
    transition: margin-right 2s;
}

.conteudo-img {
    width: 300px;
    height: 300px;
}

.conteudo-img img {
    width: 100%;
}

.conteudo-texto {
    display: flex;
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    background: #e7e5e5;
    border-radius: 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.conteudo-aviso,
.conteudo-ajuda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.grupo-conteudo {
    display: flex;
    animation: moveOrder infinite;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes moveOrder {
    0% {
       transform: translateX(-20%);
    }

    100% {
        transform: translateX(0%);
    }
}

.grupo-ajuda {
    display: flex;
}

.grupo-ajuda-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    max-width: 400px;
    height: 360px;
    overflow: hidden;
    transform: rotate(-4deg);

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
}

.grupo-ajuda-content div:nth-child(2) {
    opacity: 0;
    margin-top: -210px;
}

.grupo-ajuda-content p {
    margin: 20px;
}

.grupo-ajuda-escrevendo h4 {
    overflow: hidden;
    border-right: 0.15em solid #07293a;
    white-space: nowrap;
    letter-spacing: 0.15em;

    animation: typing 10s backwards linear infinite, blink 0.5s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    90% {
        width: 100%;
    }
}

@keyframes blink {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: #07293a;
    }

    100% {
        border-color: transparent;
    }
}

.conteudo-final {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conteudo-explicativo {
    margin: 20px;
    max-width: 400px;
    height: 420px;
    background: #e7e5e5;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.conteudo-final-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    transform: translateY(0);
    transition: 1.5s;
}

.conteudo-final-content:hover {
    transform: translateY(-364px);
}

.conteudo-final-content p {
    margin: 20px;
}

.conteudo-explicativo-espaco {
    width: 100%;
    height: 82px;
}

.conteudo-espaco1 {
    background: #01a2dd;
}

.conteudo-espaco2 {
    background: #3986fb;
}

.conteudo-espaco3 {
    background: #a77cfd;
}

.conteudo-espaco4 {
    background: #f85484;
}

.conteudo-img-middle {
    width: 200px;
    height: 200px;
    margin: 10px;

    transition: opacity 4s;
}

.conteudo-img-middle img {
    width: 100%;
    height: 100%;
}

.conteudo-footer {
    display: flex;
    justify-content: center;
    background: #000;
    color: #ffffff;
    padding: 0;
}

@media (max-width: 1200px) {
    .conteudo-img {
        width: 240px;
        height: 240px;
    }

    .conteudo-img-middle {
        width: 160px;
        height: 160px;
    }

    .grupo-ajuda-content {
        padding: 20px 0;
        max-width: 320px;
        height: 320px;
    }

    .grupo-ajuda-content div:nth-child(2) {
        margin-top: -172px;
    }

    .conteudo-explicativo {
        height: 400px;
    }

    .conteudo-final-content:hover {
        transform: translateY(-324px);
    }
}

@media (max-width: 992px) {
    .texto-principal {
        font-size: 6em;
    }

    .conteudo-menu {
        min-width: 180px;
    }

    .conteudo-img {
        width: 200px;
        height: 200px;
    }

    .conteudo-texto {
        max-width: 260px;
        font-size: 12px;
    }

    .conteudo-img-middle {
        width: 120px;
        height: 120px;
    }

    .grupo-ajuda-content {
        max-width: 280px;
        height: 280px;
    }

    .grupo-ajuda-content div:nth-child(2) {
        margin-top: -126px;
    }

    .grupo-ajuda-content p {
        font-size: 14px;
    }

    .grupo-ajuda-escrevendo h4 {
        font-size: 13px;
    }

    .conteudo-explicativo {
        max-width: 360px;
        height: 360px;
    }
}

@media (max-width: 768px) {
    .texto-principal {
        font-size: 4em;
    }

    .conteudo-menu {
        display: none;
    }
}

@media (max-width: 600px) {
    .texto-principal {
        font-size: 2em;
    }

    .conteudo-img {
        width: 75px;
        height: 75px;
    }

    .conteudo-texto {
        max-width: 260px;
        font-size: 12px;
    }

    .conteudo-img-middle {
        width: 80px;
        height: 80px;
    }

    .conteudo-aviso h4 {
        font-size: 14px;
    }

    .grupo-ajuda-content {
        height: 260px;
    }

    .grupo-ajuda-content div:nth-child(2) {
        margin-top: -88px;
    }

    .grupo-ajuda-content p {
        font-size: 12px;
    }

    .grupo-ajuda-escrevendo h4 {
        font-size: 10px;
    }

    .conteudo-explicativo {
        width: 100%;
        height: 320px;
    }

    .conteudo-final-content p {
        font-size: 12px;
    }

    .conteudo-final-content:hover {
        transform: translateY(-248px);
    }

    .conteudo-footer {
        font-size: 12px;
    }
}

@media (max-width: 325px) {
    .conteudo-img {
        display: none;
    }

    .conteudo-img-middle {
        width: 60px;
        height: 60px;
    }

    .conteudo-aviso h4 {
        font-size: 11px;
    }

    .grupo-ajuda-content {
        height: 200px;
    }

    .grupo-ajuda-content div:nth-child(2) {
        margin-top: -68px;
    }

    .grupo-ajuda-content p {
        font-size: 8px;
    }

    .grupo-ajuda-escrevendo h4 {
        font-size: 7px;
    }

    .conteudo-explicativo {
        height: 300px;
    }

    .conteudo-final-content:hover {
        transform: translateY(-268px);
    }
}
